RewriteEngine On
# WARNING!!! Change when copied to another workplace
#RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

# redirect from ROOT to public folder
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

# exclude filter of files (css/js)
RewriteCond %{REQUEST_FILENAME} !-f

# redirect all requests to public/
RewriteRule ^(.*)$ public/ [L]