/* Global classes */

.main-heading {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* Header/nav styles */

.navbar-nav {
	width: 100%;
	text-align: center;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
}

.navbar-nav > li a {
	font-size: 16px;
}

.navbar-brand {
	float:none;
}

.popover {
	width: 225px;
	left: -78px !important;
}

.logo-img {
	padding: 5px;
}

.logo-img img {
	width: 84px;
}

.search-form {
	width: 0%;
	display: none;
	position: absolute;
	z-index: 1;
	right: 45px;
	top: 8px;
}

.search-form input {
	width: 100%;
	height: 35px;
	padding: 10px;
}

/*footer*/

footer {	
    margin: 20px auto;
}

.footer-left {	
    margin: 5px auto;
}

#social a {
	float: right;
	margin: 0 5px;
}

/* Homepage styles */

.jumbotron {
	height: 600px;
	margin-bottom: 0 !important;
	padding-top: 130px;
	padding-bottom: 10px;		
	color: #f5f5f5;
	background: linear-gradient(
			      rgba(41, 7, 36, 0.7), 
			      rgba(41, 7, 36, 0.7)
			    ),
				url("../images/hero.jpg") 
					no-repeat
					bottom center/cover;
}

.jumbotron > .row {
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
}

.jumbotron > .row > a {
	margin-top: 5%;
}

.arrow-scroll {			
    bottom: 0;
    position: absolute;
  	left: 50%;
  	margin-left: -30px;
}

#accordion > .panel-default {
	margin-bottom: 20px;
}

#accordion > .panel-default .panel-heading {
	height: 80px;
}

/*genre page*/

.card-columns {
    -webkit-column-count: 4;
       -moz-column-count: 4;
     		column-count: 4;

	-webkit-column-gap: 20px;
   	   -moz-column-gap: 20px;
			column-gap: 20px;

	-webkit-column-width: 180px;
	   -moz-column-width: 180px;
			column-width: 180px;
}

.card-columns > .card {
	margin-bottom: 20px;
}

#genre-divider,
#stories-home > .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#genre-divider > .card {
	margin-bottom: 0;
    background: transparent;
}

.genre-box-sm {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.genre-box-sm > .card > a,
.genre-box-lg > .card > a {
	background-color: white;
	padding: 10px;
	display: block;
}

.genre-box-sm > .card > a > h4,
.genre-box-lg > .card > a > h4 {
	margin: 10px;
}

.genre-box-lg {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.tile-a {
	height: 100px;
}
.tile-b {
	height: 110px;
}
.tile-1 {
	height: 120px;
}
.tile-2 {
	height: 140px;
}
.tile-3 {
	height: 160px;
}
.tile-4 {
	height: 180px;
}
.tile-5 {
	height: 200px;
}

/* Story browse page styles */

.week-story {
	width: 420px;
	height: 420px;
	background: white;
}

.new-stories,
.rising-stories {
	width: 210px;
	height: 180px;
	margin: 0 auto;
	background: lightblue;
}/*

.featured-stories {
	width: 450px;
	height: 220px;
	margin: 10px;
	background: orange;
}*/